* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.body {
    margin: 0;
    background-color: #ffffff;
}

/* ===== NAVBAR ===== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    border-bottom: 1px solid #ccc;
}

.select {
    color: #1d4ed8;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.input-search {
    width: 450px;
    height: 40px;
}

.font-size{
    font-size: 23px;
}

.container-meowdex {
    display: flex;
    flex-direction: column;
}

.MeowDex-text {
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    padding: auto;
}

.cat-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    max-width: 700px;
    justify-items: center;
    margin: 0 auto;
}

.cat-item {
    text-align: center;
    cursor: pointer;
    width: 250px;
    height: 250px;
}

.cat-item img {
    width: 100%;
    height: 80%;
    object-fit: contain;
    overflow: hidden;
}

.cat-item p {
    margin-top: 8px;
    color: #1e90ff;
    font-weight: bold;
}

.cat-card {
    justify-content: space-between;
    align-items: center;
    background-color: #9b6b4f;
    color: white;

    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;

    overflow: hidden;
}

p {
    padding: 15px 0px 0px 0px;
}