<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meow Scanner - MeowDex</title>
    <link rel="stylesheet" href="/Css/MeowDex.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">Logo</div>
        <div class="nav-links">
            <input type="text" class="input-search">
            <label class="select font-size">ค้นหาประเภทแมว</label>
        </div>
    </div>
    <div class="container-meowdex">
        <label class="MeowDex-text">MyDex</label>
        <div class="cat-grid">
            <div class="cat-item cat-card">
                <img src="\image\cat_com.png">
                <p>meow1</p>
            </div>
            <div class="cat-item cat-card">
                <img src="\image\cat_com.png">
                <p>meow2</p>
            </div>

            <div class="cat-item cat-card">
                <img src="\image\cat_com.png">
                <p>meow3</p>
            </div>

            <div class="cat-item cat-card">
                <img src="\image\cat_com.png">
                <p>meow4</p>
            </div>

            <div class="cat-item cat-card">
                <img src="\image\cat_com.png">
                <p>meow5</p>
            </div>

            <div class="cat-item cat-card">
                <img src="\image\cat_com.png">
                <p>meow6</p>
            </div>
        </div>
    </div>
</body>
</html>