<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meow Scanner - Register</title>
    <link rel="stylesheet" href="/Css/Register.css">
</head>
<body>

    <div class="navbar">
        <div class="logo"><img src="/images/logo.png" alt="Logo"></div>
        <div class="nav-links">
            <a href="#" class="login-link">เข้าสู่ระบบ</a>
            <a href="#" class="register-link">สร้างบัญชี</a>
        </div>
    </div>

    <div class="container">
        <img src="/images/cat_com.png" alt="Cat" class="cat-image">

        <div class="login-box">
            <h1>MEOW SCANNER</h1>

            <div class="form-group">
                <label>Username or Email address</label>
                <input type="text">
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password">
            </div>

            <div class="form-group">
                <label>Confirm Password</label>
                <input type="Confirm Password">
            </div>

            <div class="options">
                <div>
                    <button class="confirmed-btn">Confirmed</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
