<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meow Scanner - Upload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/Upload.css">
</head>
<body>
    <div class="navbar">    
        <div class="logo"><img src="/images/logo.png" alt="Logo"></div>
        <div class="nav-links">
            <input type="text" class="input-search" placeholder="ค้นหาประเภทแมว">
            <label class="select font-size">ค้นหา</label>
        </div>
    </div>
    <div class="container">
        <div class="main-layout">

            <div class="result-box">
                <button class="btn">From Device</button>
                <button class="btn">From link</button>
                <button class="btn">Camera</button>
            </div>
            <div class="gray-wrapper">

                <div class="gray-box">
                    <div class="upload-box">
                        <img src="/images/upload.png" alt="">
                    </div>
                </div>

                <div class="model-check">
                    ✓ Model
                </div>

            </div>


            <button class="scan-btn">Scan Now!!</button>

        </div>
    </div>
</body>