<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meow Scanner - Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/Search.css">
</head>
<body>
    <div class="navbar">
        <div class="logo"><img src="/images/logo.png" alt="Logo"></div>
        <div class="nav-links">
            <input type="text" class="input-search">
            <label class="select font-size">ค้นหาประเภทแมว</label>
        </div>
    </div>
<div class="container">
    <div class="cat-list">
        
        <div class="cat-card">
            <div class="cat-info">
                <h3>วิเชียรมาศ (Siamese)</h3>
                <p>
                    ประวัติ:
                </p>
                <hr>
                <small>
                    ""
                </small>
            </div>

            <div class="cat-image-box">
                <img src="/images/cat_com.png" alt="Siamese Cat">
            </div>
        </div>

        <div class="cat-card">
            <div class="cat-info">
                <h3>สก็อตติช โฟลด์ (Scottish Fold)</h3>
                <p>
                    ประวัติ: 
                </p>
                <hr>
                <small>
                    ""
                </small>
            </div>

            <div class="cat-image-box">
                <img src="/images/cat_com.png" alt="Scottish Fold Cat">
            </div>
        </div>
    </div>
</div>

</body>