<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meow Scanner - Predict</title>
    <link rel="stylesheet" href="/Css/Predict.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">Logo</div>
        <div class="nav-links">
            <input type="text" class="input-search">
            <label class="select font-size">ค้นหาประเภทแมว</label>
        </div>
    </div>
    <div class="container">
        <div class="main-layout">
            <div class="gray-box">
                <img src="/image/cat_com.png" class="cat-center">
            </div>

            <div class="result-box">
                <h2>ผลลัพธ์การทำนาย</h2>
                <p class="font-size">ประเภทแมว: </p>
                <p class="font-size">พันธ์แมว: </p>
                <p class="font-size">จุดเด่น: </p>
                <p class="font-size">ค่าความมั่นใจ: </p>
            </div>
        </div>
</body>
</html>